.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.custom-btn {
  background-color: #ad88c6; /* Set the background color to #AD88C6 */
  color: white; /* Set the text color to white for better contrast */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Add some rounded corners */
  cursor: pointer; /* Indicate clickable behavior */
}
.showpassword {
  cursor: pointer;
  transition: all;
}
.showpassword:hover {
  transform: scale(1.2);
  color: rgb(14, 32, 39);
}
.line-container {
  position: relative;
}

.solid-line {
  border: none;
  border-top: 1px solid black;
  margin: 20px 0;
}

.username-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  background: none;
  width: 100px;
  text-align: center;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.nav-link {
  cursor: pointer;
}
.social-section {
  margin-top: 24px;
  display: block;
}
.social-btn {
  position: relative;
  width: 320px;
  border: 1px solid #c2c8d0;
  border-radius: 6px;
  font-size: 16px;
  align-items: center;
  background-color: #fff;
  height: 52px;
  transition: box-shadow 0.15 ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  padding: 0 8px 0 52px;
  color: #2d333a;
  margin-bottom: 8px;
  display: flex;
  outline: 0;
}
.social-logo-wrapper {
  position: absolute;
  left: 26px;
  top: 50%;
  transform: translate(-50%) translateY(-50%);
}
.social-logo {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.social-text {
  text-align: left;
  position: relative;
}
