{% extends 'base.html' %} 
{% block content %}
<div class="container m-4">
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb w-75">
      <li class="breadcrumb-item">
        <a href="{% url 'income' %}">Income</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Edit income </li>
    </ol>
  </nav>

  <form action="{% url 'edit_income' income.id %}" class="w-75" method="post">
    {% csrf_token %} {% include 'authentication/messages.html/' %}
    <div class="mb-3">
      <label for="amount" class="form-label">Amount</label>
      <input
        type="text"
        class="form-control"
        id="amount"
        name="amount"
        value="{{values.amount}}"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text"
        class="form-control"
        id="description"
        name="description"
        value="{{values.description}}"
        rows="2"
      ></input>
    </div>
    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="source" class="form-label">Source</label>
        <!-- <input
         type="text"
         class="form-control"
         id="source"
         name="source"
         value="{{values.source}}"
      /> -->
        
        <select
          class="form-select form-select-md mb-3"
          aria-label=".form-select-lg example"
          name="source"
        >
       
          <option value=" disabled selected hidden">Choose a source</option>
          <option selected name="source" value="{{values.source}}">
            {{values.source}}
          </option>
          {% for source_value, source_text in sources %}
          {% if source_value != values.source %}
          <option name="source_text" value="{{source_value}}">
            {{source_text}}
          </option>
          {% endif %}
          {% endfor %}
        </select> 
      </div>
      <div class="col-md-6 mb-2">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" value="{{values.date |date:'Y-m-d' }}" name="dateOfIncome" />
      </div>
    </div>

    <div class="mb-3">
      <input type="submit" value="Update" class="btn btn-primary" />
    </div>
  </form>
</div>

{% endblock %}
