{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container mt-3">
  <div class="row m-1">
    <div class="col-md-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Income</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Income</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-2">
      <a href="{% url 'add_income'%}" class="btn btn-primary p-2">Add income</a>
    </div>

    {% include 'authentication/messages.html' %}
  </div>




  <div class="container pt-3">
    <div class="app-table">
      <table class="table table-bordered border-black table-hover">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Source</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          {% for income in page_obj %}
          <tr>
            <td>{{income.date}}</td>
            <td>{{income.amount}}</td>
            <td>{{income.source}}</td>
            <td>{{income.description}}</td>
            <td>
              <a
                href="{% url 'edit_income' income.id %}"
                class="btn btn-secondary btn-sm"
              >
              <i class="fa-regular fa-pen-to-square"></i></a
              </a
              >
            </td>
            <td>
              <a
                href="{% url 'delete_income' income.id %}"
                class="btn btn-secondary btn-sm"
              >
              <i class="fa-solid fa-trash"></i></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- <div class="table-output">
    <table class="table table-bordered border-black table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Source</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody class="table-body"></tbody>
    </table>
  </div> -->
  <div class="pagination-container">
    <div class="w-50">
      <nav aria-label="Page navigation example">
        Showing page {{page_obj.number}} of {{totalpage}}
        <ul class="pagination justify-content-center w-25">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{page_obj.previous_page_number}}"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %} {% for n in totalpageList %}
          <li class="page-item active">
            <a class="page-link" href="?page={{n}}">{{n}}</a>
          </li>
          {% endfor %} {% if page_obj.has_next %}
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{page_obj.next_page_number}}"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
  <div class="col-md-4 "> </div>
  <div class="col-md-4">
    <canvas id="myChartIncomeAll"></canvas>
  </div>
  <div class="col-md-4 "> </div>
</div>
</div>
</div> 
<script src="{% static 'js/stats.js' %}"></script>
{% endblock %}
