{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container mt-2 p-2">
  <div class="row pt-3">
    <div class="col-sm-12 mb-3 mb-sm-0">
      <div class="card">
        <h5 class="card-header">Quick Access</h5>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <a href="{% url 'add_expense' %}" class="btn btn-secondary">
                  <i
                    class="fas fa-plus-circle fa-2x px-1"
                    style="color: #8bbdf6"
                  ></i>
                  <span>New Expense</span></a
                >
              </div>
              <div class="col-md-4">
                <a href="{% url 'add_income' %}" class="btn btn-secondary">
                  <i
                    class="fas fa-plus-circle fa-2x px-1"
                    style="color: #8bbdf6"
                  ></i>
                  <span>New Income</span>
                </a>
              </div>

              <div class="col-md-4">
                <a href="{% url 'export_excel' %}" class="btn btn-secondary">
                  <i
                    class="fa-regular fa-file-excel fa-2x px-1"
                    style="color: #8bbdf6"
                  ></i>
                  <span>Export excel (Expenses)</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="mt-4">
      <h4>Overview of last 3 months</h4>
    </div>
    <div class="row pt-3">
      <div class="col-sm-5 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Expenses</h5>
            <p class="card-text" id="show-expense"></p>
            <a href="{% url 'expenses' %}" class="btn btn-primary"
              >View Expenses</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Income</h5>
            <p class="card-text" id="show-income"></p>
            <a href="{% url 'income' %}" class="btn btn-primary">View Income</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="chartBox col-5">
        <canvas id="myChart"></canvas>
      </div>
      <div class="col-2"></div>
      <div class="col-5">
        <canvas id="myChartIncome"></canvas>
      </div>
    </div>
  </div>

  <!-- <div class="container mt-4 p-2">
  <div class="row pt-3">
    <div class="col-sm-12 mb-3 mb-sm-0">
      <div class="card">
        <h5 class="card-header">Quick Access</h5>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <a href="{% url 'add_expense' %}" class="btn btn-secondary">
                  <i
                    class="fas fa-plus-circle fa-2x px-1"
                    style="color: #8bbdf6"
                  ></i>
                  <span>New Expense</span></a
                >
              </div>
              <div class="col-md-4">
                <a href="{% url 'add_income' %}" class="btn btn-secondary">
                  <i
                    class="fas fa-plus-circle fa-2x px-1"
                    style="color: #8bbdf6"
                  ></i>
                  <span>New Income</span>
                </a>
              </div>

              <div class="col-md-4">
                <a href="{% url 'add_expense' %}" class="btn btn-secondary">
                  <i
                    class="fa-regular fa-file-excel fa-2x px-1"
                    style="color: #8bbdf6"
                  ></i>
                  <span>Upload excel</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <script src="{% static 'js/stats.js' %}"></script>

  {% endblock %}
</div>
