{% extends 'base.html' %} {% load static %} {% block content %}

<!-- <div class="container mt-3">
  <div class="row m-1">
    <div class="col-md-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Expenses Summary</a></li>
          <li class="breadcrumb-item active" aria-current="page">Summary</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-2">
      <a href="" class="btn btn-primary p-2">Back</a>
    </div>
  </div>
  <div>
    <canvas id="myChart"></canvas>
  </div>
</div> -->
<div class="container">
  <div class="mt-2">
    <h4>Overview of last 3 months</h4>
  </div>
  <div class="row pt-3">
    <div class="col-sm-5 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Expenses</h5>
          <p class="card-text" id="show-expense">

          </p>
          <a href="{% url 'expenses' %}" class="btn btn-primary">View Expenses</a>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Income</h5>
          <p class="card-text" id="show-income">
          </p>
          <a href="{% url 'income' %}" class="btn btn-primary">View Income</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="chartBox col-5 ">
      <canvas id="myChart"></canvas>
    </div>
    <div class="col-2"></div>
    <div class="col-5 ">
      <canvas id="myChartIncome"></canvas>
    </div>
  </div>
</div>


</div>
<script src="{% static 'js/stats.js' %}"></script>

{% endblock %}
